__pycache__/
.venv/
venv/
.idea/
.vscode/
build/
dist/
img/
test.*
*.spec
imgs/bigmap.jpg
imgs/bwmap.jpg
imgs/maxloc.jpg
imgs/screen.jpg
imgs/sbl.jpg
imgs/tbw.jpg
imgs/tmp.jpg
imgs/tmp_0.jpg
imgs/tmp1.jpg
imgs/tmp2.jpg
imgs/tmp3.jpg
imgs/tmp4.jpg
imgs/tmp5.jpg
imgs/tmp6.jpg
imgs/collect
logs/
my_map
.notif
check0.txt
check5.txt
*.zip
ocr/
info.yml
info_old.yml
version.txt
*.exe
test.py
mylib.py
mylib.bat
tmp.py
targ
tmp
big.jpg
bw.jpg
tp.jpg
tp
utils/mylib/
update.py
update.bat