__pycache__/
venv/
.idea/
build/
dist/
*.spec
*.txt
imgs/bigmap.jpg
imgs/bwmap.jpg
imgs/maxloc.jpg
imgs/screen.jpg
imgs/sbl.jpg
imgs/tbw.jpg
imgs/tmp.jpg
imgs/tmp1.jpg
imgs/tmp2.jpg
imgs/tmp4.jpg
imgs/collect
logs/
