opencv_python
PyAutoGUI
pywin32
flet
pyinstaller
pyuac
pillow
keyboard
requests
onnxruntime-directml==1.18.0
shapely
pyclipper
pyscreeze==0.1.28
tzdata
tzlocal
pytz
pyyaml
winotify
pystray
psutil
mss
numpy==1.26.4