numpy==1.26.0
opencv_python
PyAutoGUI
pywin32
flet
pyinstaller
pyuac
pillow
keyboard
requests
onnxruntime-directml
onnxruntime
shapely
pyclipper
pyscreeze==0.1.28
tzdata
tzlocal
pytz
pyyaml
winotify
pystray
psutil
mss