opencv_python
PyAutoGUI
pywin32
flet==0.23.2
flet_core==0.23.2
pyinstaller
pyuac
pillow
keyboard
requests
onnxruntime-directml
shapely
pyclipper
pyscreeze==0.1.28
tzdata
tzlocal
pytz
pyyaml
winotify
pystray
psutil
mss
numpy==1.26.4